@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.habilidades {
  height: 90vh;
  font-family: "Livvic", sans-serif;
  padding: 0px 20px;
}

.habilidades-titulo {
  font-family: "Livvic", sans-serif;
  color: #3d3d3d;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 20px 10px 20px;
}

.habilidades-titulo h1 {
  font-size: 30px;
}

.habilidades-titulo i {
  font-size: 32px;
  color: #4c7840;
}

.hab-soft-bg {
  padding: 30px 0px;
}

.habilidades-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.dados-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.2;
  padding: 8px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.nav-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.dados-btn {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
}

.dados-btn button {
  display: flex;
  justify-content: center;
  width: auto;
}

.softwares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  max-width: 30%;
  margin: 0 auto;
  gap: 30px;
  padding: 60px 50px;
  background-color: #ffffff;
  border: 2px solid #dbd5d5;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.active {
  background: #4c7840;
  color: white;
}

.softwares img {
  width: 4rem;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  display: block;
}

.competencias {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  max-width: max-content;
  margin: 0px auto;
  overflow-y: scroll;
  border: 2px solid #dfdfdf;
}

.competencias::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.competencias::-webkit-scrollbar-thumb {
  background-color: #cecdcd;
  border-radius: 10px;
}

.competencias p {
  font-size: 60px;
}

.habilidades-lista li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 2;
  position: relative;
  border-bottom: 2px solid #f5f5f5;
}

.habilidades-lista li::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -50px;
}

.soft-hab ul {
  height: 500px;
}

.soft-hab li {
  padding-top: 20px;
}

.soft-hab li:last-child {
  padding-bottom: 10px;
}

#pessoal::before {
  background: url(../svg/softwares/x24/n-solid.svg) no-repeat center center;
}
#autocad::before {
  background: url(../svg/softwares/x24/autocad.svg) no-repeat center center;
}

#sketchup::before {
  background: url(../svg/softwares/x24/sketchup.svg) no-repeat center center;
}

#revit::before {
  background: url(../svg/softwares/x24/revit.svg) no-repeat center center;
}

#qgis::before {
  background: url(../svg/softwares/x24/qgis.svg) no-repeat center center;
}

#office::before {
  background: url(../svg/softwares/x24/office.svg) no-repeat center center;
}

#photoshop::before {
  background: url(../svg/softwares/x24/photoshop.svg) no-repeat center center;
}

@media (max-width: 1200px) {
  .softwares {
    padding: 60px;
    grid-template-columns: 1fr 1fr;
  }
  .softwares img {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .softwares {
    padding: 40px;
  }
  .softwares img {
    padding: 10px;
  }
  .softwares p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .habilidades {
    height: 100vh;
    margin: 50px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 700px) {
  .softwares {
    max-width: 100vh;
  }
}

/* Software */
.hab-soft-bg {
  width: 100%;
  padding: 0px;
}

/* Competências */
.habilidades-lista li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.25;
}
#pessoal::before {
  position: initial;
}
#autocad::before {
  position: initial;
}
#sketchup::before {
  position: initial;
}
#revit::before {
  position: initial;
}
#qgis::before {
  position: initial;
}
#office::before {
  position: initial;
}
#photoshop::before {
  position: initial;
}

.soft-hab li {
  padding-top: 7px;
  padding-bottom: 7px;
}
.soft-hab li:last-child {
  padding-bottom: 10px;
}
