.habilidades {
  font-family: "Livvic", sans-serif;
  height: 90vh;
}

.habilidades-titulo {
  font-family: "Livvic", sans-serif;
  color: #3d3d3d;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 20px 10px 20px;
}

.habilidades-titulo h1 {
  font-size: 30px;
}

.habilidades-titulo i {
  font-size: 32px;
  color: #4c7840;
}

.habilidades-btn {
  margin: 14px auto;
  width: 100%;
}

.dados-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.habilidades-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.dados-btn button {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.2;
  width: 180px;
  padding: 8px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  /* background-color: #ffffff; */
  border-radius: 5px;
  cursor: pointer;
  /* color: #000000; */
  transition: 0.3s;
}

/* .dados-btn button:hover {
  background-color: #efefef;
} */

.nav-bg {
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
}

.softwares {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  max-width: 30%;
  margin: 0 auto;
  gap: 30px;
  padding: 70px 70px;
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.active {
  background: #4c7840; /* Cor de fundo quando ativado */
  color: white; /* Cor do texto quando ativado */
}

.softwares img {
  width: 4rem;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.competencias {
  display: none;
}
