// Cores e Fonte
$background: #f9f9f9;
$cor-primaria: #4c7840;
$preto: #000000;
$cinza: #444643;
$cinza-escuro: #3d3d3d;
$branco: #ffffff;
$border-color: #dbd5d5;

$font-1: "Poppins", Helvetica;
$font-2: "Livvic", Helvetica;

$cols: 12;
$gutter: 20px;
$l-device: 1400px;
$m-device: 860px;
$s-device: 580px;

// Responsivo
@mixin d($size) {
  @if $size == l {
    @media screen and (min-width: #{$l-device}) {
      @content;
    }
  } @else if $size == m {
    @media screen and (min-width: #{$m-device}) and (max-width: #{$l-device - 250}) {
      @content;
    }
  } @else if $size == s {
    @media screen and (max-width: #{$m-device - 1}) {
      @content;
    }
  }
}

// Grid
@function col($col, $offset: false) {
  $width: $col / $cols * 100%;
  $result: calc(#{$width - #{$gutter}});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width + #{$gutter}});
  }
  @return calc(#{$width} - #{$gutter});
}

// Grid Class
@for $i from 1 through $cols {
  .col-#{$i} {
    width: col($i);
  }
}

// Mixin estrutura Grid
@mixin grid-structure {
  float: left;
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include d(s) {
    width: 100%;
    float: none;
    margin: 0;
  }
}

[class^="col-"] {
  @include grid-structure();
}

// offset Class
@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: col($i, offset);
    @extend %offset;
  }
}
@include d(s) {
  %offset {
    margin-left: 0px;
  }
}

// Clearfix
@mixin clearfix {
  &::after,
  &::before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $l-device;
  margin: 0 auto;
  position: relative;
  padding: 30px 20px;
  @include d(m) {
    max-width: $m-device;
    padding: 30px 40px;
  }
  @include d(s) {
    max-width: $s-device;
    padding: 20px 20px;
  }
  @include clearfix();
}
.container {
  @include container();
}

@mixin row {
  position: relative;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
  @include d(s) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.row {
  @include row;
  @include clearfix();
}

@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin titulo {
  @include d-flex-center();
  padding: 30px 20px;
  gap: 15px;
  text-transform: uppercase;
  font-family: $font-2;
}
